@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

::selection {
  background-color: #7ad3ff;
  color: #000000;
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainContainer > h1 {
  color: #008f8c;
}

.clockContainer {
  width: 25rem;
  height: 20rem;
  box-shadow: 0px 4px 40px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.clockContainer:hover {
  box-shadow: 0px 4px 40px 12px rgba(0, 0, 0, 0.1);
}

.timeContainer {
  text-align: center;
}

.mainContainer h1 {
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.timeContainer h2 {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 300;
}

.timeContainer span {
  font-size: 1rem;
  font-weight: 500;
  margin-right: 0.5rem;
}

.timeContainer input[type="time"] {
  font-size: 1rem;
  padding: 2px 5px;
  border: 1px solid #cccccc;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.clockContainer button {
  padding: 10px 25px;
  font-size: 1.2rem;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 2rem;
  background-color: #008f8c;
  color: #ffffff;
  cursor: pointer;
}

.clockContainer button:hover {
  background-color: #007a78;
}

.clockContainer button:active {
  background-color: #006664;
}

@media only screen and (max-width: 411px) {
  .clockContainer {
    width: 18rem;
    height: 20rem;
  }

  .mainContainer h1 {
    font-size: 2.8rem;
  }

  .timeContainer h2 {
    font-size: 1.3rem;
  }

  .timeContainer span {
    font-size: 0.9rem;
  }

  .timeContainer input[type="time"] {
    font-size: 0.9rem;
  }

  .clockContainer button {
    padding: 8px 20px;
    font-size: 1.1rem;
  }
}
