html {
    height: 100%;
    width: 100%;
  }
  
  body {
    background-color: black;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #13fb13;
  }
  
  h1 {
    color: white;
    font-size: 2em;
    margin-top: 50px;
  }
  
  input[type="submit"] {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .output {
    background-color: white;
    border: 1px solid #999999;
    border-radius: 5px;
    margin-top: 50px;
    padding: 20px;
    text-align: left;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .output h2 {
    color: #12fd39;
    font-size: 1.5em;
    margin-top: 0;
  }
  
  .output p {
    color: #0de326;
    font-size: 1.2em;
    margin-top: 20px;
  }